@import "./Colors.module";
@import "StyleConfig.module";

.mainContents {
  box-sizing: border-box;
  padding: 50px 10px 0 10px;
  margin-left: 300px;
}

.pageHeader {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
}

%title {
  color: $gray-300;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 0;
  font-weight: bold;
  border-radius: 5px;
}

.pageTitle {
  @extend %title;
  border: solid 1px $gray-800;
  font-size: 21px;
}

.titleInput {
  @extend %input;
  @extend %title;
  border: solid 1px $gray-600;
  font-size: 24px;

  &:focus {
    border: 1px solid $primary-600;
  }
}

%mainContentButton {
  @extend %button;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  color: $gray-300;
  margin-left: 5px;
}

.primaryButton {
  @extend %mainContentButton;
  background: $primary-600;
  &:hover {
    background: $primary-700;
  }
  &:active {
    background: $primary-500;
  }
}

.cancelButton {
  @extend %mainContentButton;
  background: $gray-600;
  &:hover {
    background: $gray-700;
  }
  &:active {
    background: $gray-600;
  }
}

.dangerButton {
  @extend %mainContentButton;
  background: $danger-600;
  &:hover {
    background: $danger-700;
  }
  &:active {
    background: $danger-600;
  }
}

.panel {
  background: $gray-700;
  padding: 10px;
  border-radius: 10px;
}

.editor {
  @extend %textArea;
  min-height: 50vh;
  box-sizing: border-box;
  width: 100%;
  background: transparent;
  color: $gray-300;

  &:focus {
    border: solid 1px $primary-600;
  }
}

.view {
  min-height: 50vh;
  color: $gray-300;
  word-break: break-word;
  code {
    overflow: hidden;
  }
}

.displayNone {
  display: none;
}