@import "./Colors.module";

.sideBar {
  position: fixed;
  box-sizing: border-box;
  width: 300px;
  height: 100vh;
  background: $gray-900;
  color: $gray-300;
  overflow: hidden;
  padding-top: 60px;
  overflow-y: scroll;
}

%sideBarRow {
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &:hover {
    background: $gray-700;
  }

  &:hover .optionButton {
    display: flex;
  }

  &:active {
    background: $gray-600;
  }
}

.selected {
  background: $primary-600;

  &:hover {
    background: $primary-600;
  }
}

.titleContainer {
  overflow: hidden;
  display: -webkit-box;
  word-break: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.title {
  @extend %sideBarRow;
}

.addNew {
  @extend %sideBarRow;
}